#box1,#box2,#box3{
    height: 100px;
    width: 100px; 
    border: 2px solid bisque;   
}
#box1{
    background-color: rgba(255,0,0,0.5);
}
#box2{
    background-color: rgba(0,255,0,0.5);
}
#box3{
    background-color: rgba(0,0,255,0.5);
}

#header{  
    height: 60px;
    background-color: #0f1111;
 }
#home{
    color: #f08804;
 }
 a{
    color: white;
    margin-right: 200px;
    text-decoration: none;}

 button{
    background-color: #f08804;
 }

 #footer{
    text-align: center;
 }