*{box-sizing: border-box};

body{
    margin: 0;
}

.parent{
    background-color: #ff0000;
    padding: 50px;

    /* width: 900px; */
    width: 80%;
    margin: 0 auto;
}

.child{
    background-color: blue;
    height: 250px;
    width: 50%;
    margin: 0 auto;
}